{% import _self as self %}
<div class="panel panel-info sudoku-panel">
    <div class="panel-heading">
        <h4>{{ title }}</h4>
    </div>
    <div class="panel-body">
    <form action="." method="post" class="text-center">
        <table>
            {{ self.printCells() }}
        </table>
        <br>
        <button type="submit" class="btn btn-raised btn-success">CHECK</button>
        <button type="reset" class="btn btn-raised btn-danger">RESET</button>
    </form>
    </div>
</div>
{% macro printCells() %}
    {% import _self as self %}
    {% import ('macros.twig') as macros %}
    {% for vertical in 1..9 %}
        <tr>
            {% for horizontal in 1..9 %}
                <td class="{{ macros.setBorderClass(horizontal, vertical) }}">
                    <select name="{{ vertical }}{{ horizontal }}">
                        {{ self.printOptions() }}
                    </select>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro printOptions() %}
    {% for o in 0..9 %}
        <option value="{{ o }}">
            {% if o > 0 %}
                {{ o }}
            {% endif %}
        </option>
    {% endfor %}
{% endmacro %}