{% import _self as self %}
<form action="." method="post" class="text-center">
    <table>
        {{ self.printCells() }}
    </table>
    <br>
    <button type="submit" class="btn btn-raised btn-success">ENVIAR</button>
    <button type="reset" class="btn btn-raised btn-danger">RESET</button>
</form>

{% macro printCells() %}
    {% import _self as self %}
    {% import ('macros.twig') as macros %}
    {% for vertical in 1..9 %}
        <tr>
            {% for horizontal in 1..9 %}
                <td class="{{ macros.setBorderClass(horizontal, vertical) }}">
                    <select name="{{ vertical }}{{ horizontal }}">
                        {{ self.printOptions() }}
                    </select>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro printOptions() %}
    {% for o in 0..9 %}
        <option value="{{ o }}">
            {% if o > 0 %}
                {{ o }}
            {% endif %}
        </option>
    {% endfor %}
{% endmacro %}